.detail-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 85vh;
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

button.primary {
	background-color: #03BFCB;
	border: 1px solid #03BFCB;
	border-radius: 3px;
	color: #231E39;
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	padding: 10px 25px;
}
