<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <p>Pages: {{info.pages}}</p>
  <p>Total characters: {{info.count}}</p>
  <app-paginator [(info)]="info" [(pages)]="pages" (searchEmitter)="search('',$event)" [(currentPage)]="currentPage">
  </app-paginator>
  <app-search (getCharactersEmitter)="search($event, 0)"></app-search>
  <app-character [(info)]="info" [(pages)]="pages" [(characters)]="characters" [(currentPage)]="currentPage">
  </app-character>
  <div>
    Page: {{currentPage}} of {{info.pages}}
  </div>
</div>
