/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  font-size: 14px;
}


input[type=search] {
  width: 70%;
  margin-bottom: 30px;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.paginator {
  display:inline-block;
  margin-bottom: 30px;

}

.page {
  cursor: pointer;
  display:inline;
  padding: 10px;
}

.selected-page {
  background: #dadada;
}
